<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <title>Noise-pridection </title>
</head>
<body class="center" >
    <h1>Noise pridection in city</h1>
    <form action="#" method="post">
        <label for="date" class="input">Enter the month :</label>
        <input type="number" name="month" id="month"><br><br>
        <label for="date"class="input">Enter the date :</label><br>
        <input type="number" name="date" id="date"><br><br>
        <label for="time"class="input">Enter the hour :</label><br>
        <input type="number" name="hour" id="hour"><br><br>
        <label for="time"class="input">Enter the minutes :</label>
        <input type="number" name="minutes" id="minutes"><br><br>
        <button type="submit" formaction="/pred" class="button-61">Predict</button>
    </form>

    <br><h4 aligin="center"b>{{data}}</b></h4>

    
    
</body>
</html>